# PostgreSQL
POSTGRES_USER=hayoung
POSTGRES_PASSWORD=hayoung_password
POSTGRES_DB=hayoung_dw
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Kafka / Redpanda
KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
KAFKA_TOPIC_EVENTS=hayoung.events

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow

# Metabase
MB_DB_FILE=/metabase-data/metabase.db
EOF
